@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat&display=swap');

/* Merriweather */
/* Montserrat */

:root {
  --blue: #36c;
  --hover-grey: #eaecf0;
  --border-grey: #c8ccd1;
  --lang-grey: #f8f9fa
}

header {
  display: flex;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

main {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: black;
}
